.omdbData{
    margin-top: 1rem;
    padding: 1rem;

    input{
        height: 45px;
          width: 75%;
          outline: none;
          font-size: 16px;
          border-radius: 5px;
          padding-left: 15px;
          border: 1px solid #ccc;
          border-bottom-width: 2px;
          transition: all 0.3s ease;

          &:focus,
          &:valid {
            border-color: #9b59b6;
          }
    }

    button {
        height: 100%;
        border-radius: 5px;
        padding: 0.4rem;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        margin-left: 0.4rem;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
}


.trailer-data {
  max-width: 100%;
  // display: flex;
  // flex-direction: row;
  @include button-transition;

  @media screen and (max-width: 600px) {
    & {
      max-width: 100%;
    }
  }

  .trailer-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

    &-input {
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);

      .detail {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
      }
      input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;

        &:focus,
        &:valid {
          border-color: #9b59b6;
        }
      }
    }
  }
  form {
    .trailer-submit {
      height: 2.5rem;
      margin: 1rem 0;
      position: relative;
      // left: 45%;
      button {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        padding: 0.4rem;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
      }
    }

    .trailer-cancel{
      @extend .trailer-submit;
      background:linear-gradient(135deg, #71b7e6, #bb1111);
    }
  }
}

.admin-movies-card{
  padding: 1rem;
}


.movies-list{
  padding: 1rem;


  .trailer-data-list {
    width: 100%;
    position: relative;
    border: 2px solid whitesmoke;
    @include button-transition;
  
    @media screen and (max-width: 600px) {
      & {
        width: 100%;
      }
    }
  
    .trailer-table {
      width: 100%;
  
      tr {
        &:hover {
          background-color: $dark;
        }
      }
      th {
        font-size: medium;
        font-style: bold;
        color: $primary-color;
      }
      td {
        i {
          padding-right: 2px;
  
          &:hover {
            color: $primary-color;
            @include button-transition;
          }
        }
      }
      td,
      th {
        border: 1px solid #ddd;
        padding: 8px;
      }
    }
  }

  
}

