.option{
    // position: absolute;
    right: 1rem;
    margin-bottom: 2rem;

    .dropdown{
      button{
        width: 7rem;

        background-image: linear-gradient(to right top, #e9dfc3, #d0a88c, #b5706b, #8d3d5d, #501759);
      }
    }

}